<section id="testimonial">
    <div class="section-main">
        <h1>Valuable Testimonial</h1>
        <owl-carousel-o [options]="customOptions" class="carousel-class-div">
            <ng-template style="margin-right: 20PX;" carouselSlide>
                <div class="cards-slider">
                    <div class="img-div-slider">
                        <img src="assets/images/section-f-imgs/profilepic-1.jpg" alt="profile image">
                        <div class="shadow-div">ctyfugughgcvjkbhgvhgjhvghv</div>
                    </div>
                    <div class="card-data">
                        <h2>
                            Demo 1
                        </h2>
                        <p>
                            This portfolio showcases the dedication and expertise put into every project.
                            The attention to detail and seamless design implementation exceeded my expectations.
                            I am truly impressed with the results and highly recommend the services provided.
                        </p>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="cards-slider">
                    <div class="img-div-slider">
                        <img src="assets/images/section-f-imgs/profilepic-2.jpg" alt="profile image">
                        <div class="shadow-div">ctyfugughgcvjkbhgvhgjhvghv</div>
                    </div>
                    <div class="card-data">
                        <h2>
                            Demo 2
                        </h2>
                        <p>
                            This portfolio showcases the dedication and expertise put into every project.
                            The attention to detail and seamless design implementation exceeded my expectations.
                            I am truly impressed with the results and highly recommend the services provided.
                        </p>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="cards-slider">
                    <div class="img-div-slider">
                        <img src="assets/images/section-f-imgs/profilepic-3.jpg" alt="profile image">
                        <div class="shadow-div">ctyfugughgcvjkbhgvhgjhvghv</div>
                    </div>
                    <div class="card-data">
                        <h2>
                            Demo 3
                        </h2>
                        <p>
                            This portfolio showcases the dedication and expertise put into every project.
                            The attention to detail and seamless design implementation exceeded my expectations.
                            I am truly impressed with the results and highly recommend the services provided.
                        </p>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="cards-slider">
                    <div class="img-div-slider">
                        <img src="assets/images/section-f-imgs/profilepic-4.jpg" alt="profile image">
                        <div class="shadow-div">ctyfugughgcvjkbhgvhgjhvghv</div>
                    </div>
                    <div class="card-data">
                        <h2>
                            Demo 4
                        </h2>
                        <p>
                            This portfolio showcases the dedication and expertise put into every project.
                            The attention to detail and seamless design implementation exceeded my expectations.
                            I am truly impressed with the results and highly recommend the services provided.
                        </p>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>