<section id="projects">
    <div class="section-main">
        <h1>Projects</h1>
        <div class="projects-section-main-container">
            <div class="projects-container">
                <div class="projects-div projects-1">
                    <img class="bg-img  projects-1-img"
                        src="assets/images/section-d-imgs/medical-banner-with-doctor-holding-tablet.jpg"
                        alt="hims background image">
                    <div class="text-content-div">
                        <div class="txt-content">

                            <h2>
                                Hospital Management System (HIMS)</h2>
                            <p>
                                The Hospital Management System (HIMS) is an advanced web-based solution designed to
                                streamline hospital operations, enhance patient care, and optimize resource management.
                                It integrates various hospital functions into a single, efficient platform, allowing
                                healthcare providers to manage patient records,
                                track inventory, automate billing, and coordinate medical staff seamlessly.
                                Developed as a scalable and secure solution, the HMS ensures hospitals can efficiently
                                handle daily operations, reduce paperwork,
                                improve accuracy, and enhance overall healthcare delivery.
                            </p>
                        </div>
                        <div class="text-container-hover">
                            <p>
                                I am currently working on this project,
                                focusing on building and enhancing its core features. My role involves collaborating
                                with a
                                team to ensure seamless integration and user experience. We are using the latest
                                technologies
                                to ensure efficiency and scalability.
                            </p>
                            <div class="bottom-div">
                                <span>
                                    HTML5,CSS3,JavaScript,Angular CLI,Angular,TypeScript,RxJS,
                                    NgRx,AG Grid,Syncfusion
                                </span>
                            </div>
                            <div class="btn-div">
                                <div class="view-project-div project-1-view-button" onclick="event.preventDefault()">
                                    <span class="icon-label">View Project</span>
                                </div>
                                <div class="git-div project-1-git-button" onclick="event.preventDefault()">
                                    <img src="assets/images/section-d-imgs/github.png" alt="My Github profile" class="icon" />
                                    <span class="icon-label">Github</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projects-div projects-2">
                    <img class="bg-img projects-2-img" src="assets/images/section-d-imgs/portfolio-bg-image.png"
                        alt="portfolio background image">
                    <div class="text-content-div">
                        <div class="txt-content">
                            <h2>
                                Portfolio</h2>
                            <p>
                                This portfolio was developed using the Angular framework, along with HTML5, CSS3,
                                JavaScript, and TypeScript,
                                ensuring a modern and dynamic user experience. It is fully responsive, adapting
                                seamlessly to various screen
                                sizes and devices. The design prioritizes user experience, with intuitive navigation and
                                interactive elements
                                that enhance usability. This project showcases my proficiency in front-end development
                                while highlighting my
                                ability to create polished, functional web applications.
                            </p>
                        </div>
                        <div class="text-container-hover hover-2">
                            <p>My focus is on creating a fully responsive design that
                                ensures an optimal user experience across devices.
                                tyghsd ddd ddddd dddd ddd dddd ddddd ddddd dddd ddddd dddddd ddd dddd ddd ddddd sdfdv
                                vsv fsdfv
                                rg d sfsd fs dfs df sfgddv fvfvfvfv dfvfv
                            </p>
                            <div class="bottom-div">
                                <span>
                                    HTML5,CSS3,JavaScript,
                                    Angular,TypeScript,Angular CLI,
                                </span>
                            </div>
                            <div class="btn-div">
                                <div class="view-project-div" onclick="window.open('https://github.com/georgin-jose123/Portfolio-web/host', '_blank')">
                                    <span class="icon-label">View Project</span>
                                </div>
                                <div class="git-div"  onclick="window.open('https://github.com/georgin-jose123/Portfolio-web', '_blank')">
                                    <img src="assets/images/section-d-imgs/github.png" alt="My Github profile" class="icon" />
                                    <span class="icon-label">Github</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projects-div projects-3">
                    <img class="bg-img projects-3-img" src="assets/images/section-d-imgs/web (2).png"
                        alt="web duplication background image">
                    <div class="text-content-div">
                        <div class="txt-content">
                            <h2>
                                Web Duplication</h2>
                            <p>
                                This project involves duplicating websites while maintaining their original structure,
                                design, and functionality. The focus is on ensuring high performance, responsiveness,
                                and a seamless user experience across all devices.
                                Using modern web technologies, the duplication process ensures the site is fully
                                functional and visually aligned with the original.
                                The result is an accurate, scalable, and efficient replica.
                            </p>
                        </div>
                        <div class="text-container-hover hover-3">
                            <p>This project involves duplicating websites while preserving their
                                original structure, design, and functionality.The goal is to ensure high performance,
                                responsiveness, and a seamless user experience across all devices.
                            </p>
                            <div class="bottom-div">
                                <span>
                                    HTML5,CSS3,JavaScript,
                                    Angular,TypeScript,Angular CLI,
                                </span>
                            </div>
                            <div class="btn-div">
                                <div class="view-project-div" onclick="window.open('https://github.com/georgin-jose123/hexnode-web/host', '_blank')">
                                    <span class="icon-label">View Project</span>
                                </div>
                                <div class="git-div" onclick="window.open('https://github.com/georgin-jose123/hexnode-web', '_blank')">
                                    <img src="assets/images/section-d-imgs/github.png" alt="Github Icon" class="icon" />
                                    <span class="icon-label">Github</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>