<nav>
    <div class="main-div">
        <div class="sub-main-div">
            <div class="content-div">
                <div class="content-div-1">
                    <ul>
                        <li>
                            <a href="" onclick="event.preventDefault()">Terms of Use </a>
                        </li>
                        <i>
                            -
                        </i>
                        <li>
                            <a href="" onclick="event.preventDefault()">Privacy</a>
                        </li>
                        <i>
                            -
                        </i>
                        <li>
                            <a href="" onclick="event.preventDefault()">Cookies</a>
                        </li>
                    </ul>
                </div>

                <div class="text-field-div">
                    <p>
                        Copyright © 2025 Georgin Jose. All Rights Reserved.
                    </p>
                </div>
                <div class="up-arrow" onclick="document.getElementById('home').scrollIntoView({behavior: 'smooth'});">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="30" height="30" x="0" y="0" viewBox="0 0 512 511"
                        style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                        <g>
                            <path fill="#4ed8df"
                                d="M512 256.5 256 .5 0 256.5l70.328 70.328 185.64-185.637.032-.03 185.672 185.667zm0 0"
                                opacity="1" data-original="#4ed8df" class=""></path>
                            <path fill="#4ed8df"
                                d="m512 441.46-256-256-.031.028L0 441.461l70.328 70.328 185.64-185.64.032-.028L441.672 511.79zm0 0"
                                opacity="1" data-original="#4ed8df" class=""></path>
                            <g fill="#11a9c6">
                                <path
                                    d="M441.672 326.828 512 256.5 256 .5l-.031.031v140.66l.031-.03zM256 185.46l-.031.028v140.66l.031-.027L441.672 511.79 512 441.461zm0 0"
                                    fill="#11a9c6" opacity="1" data-original="#11a9c6" class=""></path>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</nav>