<section id="about">
  <p class="section-text-intro">Introduction</p>
  <h1 class="title">About Me</h1>
  <div class="section-container">
    <div class="section-pic-container">
      <img src="assets/images/section-a-img/prof2.jpg" alt="Profile picture" class="about-pic" />
    </div>
    <div class="about-details-container">

      <div class="text-container">
        <p>
          I’m Georgin Jose, a passionate Software developer with over 1 years of experience specializing in Angular
          development. Currently, I’m part of a team at CUFA, working on a Hospital Management System (HIMS) to enhance
          healthcare efficiency.

          I have expertise in Angular, TypeScript, JavaScript, HTML5, and CSS3,SCSS, along with PrimeNG, Ag-Grid, RxJS,
          and NgRx. My work focuses on building intuitive, high-performance interfaces for inventory management,
          ensuring real-time stock updates, automated order generation, expiry tracking, and comprehensive reporting.

          I am proficient in state management using NgRx, handling complex data flows efficiently, and integrating
          Ag-Grid for dynamic data visualization. I also leverage PrimeNG’s rich UI components to enhance user
          experience and use RxJS for reactive programming, ensuring seamless asynchronous operations.

          I’m always eager to explore new technologies, optimize performance, and contribute to projects that make a
          meaningful impact.
        </p>
      </div>
      <div class="cards-container">
        <div class="details-cards card-1">
          <img class="icon" src="assets/images/section-b-img/graduation (1).png" alt="Education icon" />
          <div class="container-div">
            <h3>Education</h3>
            <p>Bachlers Of Technology In Computer Science.</p>
          </div>
          <div class="bottom-div">
            <img src="assets/images/section-b-img/college.jpeg" alt="SJCET Image" />
            <a href="https://sjcetpalai.ac.in/" target="_blank"> SJCET,Palai.</a>
          </div>
        </div>
        <div class="details-cards card-2">
          <img class="icon" src="assets/images/section-b-img/certificate.png" alt="Experience Icon" />
          <div class="container-div">
            <h3>Experience</h3>
            <p>I have over one year of experience in Frontend development.</p>
          </div>
          <div class="bottom-div">
            <img src="assets/images/section-b-img/office-building.png" alt="College Image" />
            <a href="http://cufa.ie/" target="_blank"> Cufa,Kochi.</a>
          </div>
        </div>
        <div class="details-cards card-3">
          <img class="icon" src="assets/images/section-b-img/coding-language.png" alt="Experience Icon" />
          <div class="container-div">
            <h3>Languages</h3>
            <p class="languages-para">
              <span>HTML5</span>,
              <span>CSS3</span>,
              <span>JavaScript</span>,
              <span>TypeScript</span>,
              <span>Angular</span>.
            </p>
          </div>
          <div class="bottom-div">
            <img src="assets/images/section-b-img/coding.png" alt="Languages Icon" />
            <a href="#" onclick="event.preventDefault()">
              RxJS,NgRx,
              Ag Grid.</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>