<section id="service" class="section-c">
  <div class="main-container">
    <h1>Service</h1>
    <div class="cards-container">
      <div class="cards card-1">
        <h2>UI/UX Design</h2>
        <img class="background-img" src="assets/images/section-c-img/graphic-design.png" alt="">
        <div class="content-text-div">
          <img src="assets/images/section-c-img/web-development.png" alt="ui/ux design icon">
          <div class="text-container">
            <h3>UI/UX Design</h3>
            <ul>
              <li>

                Crafting intuitive and user-friendly interfaces that enhance user experience.
              </li>
              <li>

                Designing visually appealing and responsive layouts for seamless interaction.
              </li>
              <li>

                Conducting user research and usability testing to ensure accessibility and efficiency.
              </li>
              <li>

                Focusing on design principles that improve engagement and conversion rates.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cards card-2">
        <h2>Frontend Development</h2>
        <img class="background-img" src="assets/images/section-c-img/development.png" alt="background imgae">
        <div class="content-text-div">
          <img src="assets/images/section-c-img/web-design.png" alt="Frontend development icon">
          <div class="text-container">
            <h3>Frontend Development</h3>
            <ul>
              <li>

                Develop responsive and high-performance web applications.
              </li>
              <li>
                Specialize in Angular, TypeScript, HTML, CSS, and JavaScript.
              </li>
              <li>
                Integrate and consume REST APIs for seamless data communication.
              </li>
              <li>
                Write clean, efficient, and scalable code.
                Focus on interactive and visually appealing user interfaces.
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>